@font-face {
    font-family: "Chunko Bold Demo";
    src: url("../fonts/ChunkoBoldDemo.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

/* 전체 영역 */
.reply-section {
    height: calc(874px - 99px - 66px);
    padding: 50px 16px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: #F3EEE8;
}

.reply-page-title {
    margin: 0 0 22px;

    color: #2B2D54;
    text-align: center;
    font-family: "Chunko Bold Demo", Pretendard, sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 120%;
}

.reply-form {
    width: 370px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.textfield {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* 입력창 공통 */
.reply-mbti,
.worry-preview,
.reply-content {
    width: 370px;

    border: none;
    outline: none;
    border-radius: 0;

    background: #D5C9BB;
    color: #000;

    font-family: Pretendard, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;

    padding: 14px 16px;
}

/* 안내 문구 */
.reply-guide {
    margin: 4px 0 4px;

    color: #000;
    font-family: Pretendard, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
}

/* 고민 내용 미리보기 박스 */
.worry-preview {
    height: 98px;
    width: 370px;
    padding: 39px 80px 38px 25px;
    resize: none;
    overflow: hidden;
    border-radius: 20px;
}

/* 라벨 */
.question-title {
    color: #000;
    font-family: Pretendard, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;

    margin: 4px 0 0;
}

/* 답변 작성 큰 박스 */
.reply-content {
    height: 315px;
    width: 370px;

    border-radius: 20px;
    background: #D5C9BB;

    padding: 17px 20px 17px 27px;

    resize: none;
    overflow-y: auto;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Chrome, Edge, Safari 스크롤바 숨김 */
.reply-content::-webkit-scrollbar {
    display: none;
}

/* 고민 미리보기 textarea도 혹시 스크롤바 생기면 숨김 */
.worry-preview::-webkit-scrollbar {
    display: none;
}

.worry-preview {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* placeholder */
.worry-preview::placeholder,
.reply-content::placeholder {
    color: #868484;
    font-family: Pretendard, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    font-style: normal;
}

/* input value 색 */
.reply-mbti {
    color: #868484;
}

/* 클릭했을 때 테두리 제거 */
.worry-preview:focus,
.reply-content:focus {
    outline: none;
}

/* 등록 버튼 */
.submit-reply {
    display: flex;
    width: 370px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: none;
    border-radius: 20px;
    background: #2B2D54;

    text-decoration: none;
    color: #FFF;

    font-family: Pretendard, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;

    margin-top: 78px;
    cursor: pointer;
}

.submit-reply:hover {
    background: #53546B;
}
.submit-reply:visited,
.submit-reply:hover,
.submit-reply:active,
.submit-reply:focus {
    text-decoration: none;
    color: #FFF;
    outline: none;
}