<!-- my_answer.html : 내 답변 페이지 ! -->

<!-- [내 답변 목록]
    렌더링 값 : my_answers
-->

<!-- 답변 렌더링 시

    고민 키워드
    answer.worry.keyword

    답변 내용
    answer.situation

    만족/불만족 여부
    answer.is_satisfied

    공개 여부
    answer.worry.is_HoF
-->

<!-- [관련 고민 조회]

    답변 카드 클릭 시

    호출 : writers:worry_story

    전달 값 :
    answer.worry.id
-->

<!-- worry_story 화면에서 조회 가능

    고민 정보
    worry

    답변 목록
    answers

    후일담 정보
    epilogue
-->

<!-- 조회 가능 범위

    공개 O 고민
    = 모든 사용자 조회 가능

    공개 X 고민
    = 고민 작성자와 해당 고민에 답변한 사용자만 조회 가능
-->