<!-- mypage.html : 마이페이지 !-->
{% extends 'base_nav.html' %}
{% load static %}
{% block title %}마이페이지{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block content %}
<main class="mypage-container">

    <div class="point-page">
        <button class="point-btn">포인트</button>
    </div>

    <div class="mypage-title">MY PAGE</div>

    <div class="profile">
        <div class="profile-image">
            <img class="profile-img" src="#" alt="프로필이미지">
        </div>
        <div class="profile-info">
            <div class="profile-name">{{ profile.name }}</div>
            <div class="profile-mbti">MBTI: {{ profile.mbti }}</div>
            <div class="profile-worry">오늘 고민: </div>
        </div>
    </div>

    <div class="menu">
        <a href="#" class="menu-list">양 성장과정 구매</a>
        <a href="#" class="menu-list">새벽 배송<span class="lock">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="28" viewBox="0 0 25 28" fill="none">
                    <path d="M11.0005 10.0005C9.51901 3.20888 5.44493 -6.29938 1.00049 10.0005" stroke="black"
                        stroke-width="2" stroke-linecap="round" />
                    <rect x="4.50049" y="8.50049" width="20" height="19" rx="4.5" fill="#B0B0B0" stroke="black" />
                    <circle cx="12.0005" cy="17.8027" r="0.5" fill="black" stroke="black" />
                    <circle cx="18.0005" cy="17.8027" r="0.5" fill="black" stroke="black" />
                    <path d="M12.0005 21.8027C12.8338 22.5574 15.2005 23.6138 18.0005 21.8027" stroke="black"
                        stroke-linecap="round" />
                </svg>
            </span></a>
        <a href="#" class="menu-list">내 고민</a>
        <a href="#" class="menu-list">내 답변</a>
        <a href="#" class="menu-list">포인트 이용내역</a>
        <a href="#" class="menu-list">북마크</a>
    </div>
</main>
{% endblock %}