{% extends 'base.html' %}
{% load static %}

{% block title %}후일담 작성{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/epilogue_write.css' %}">
{% endblock %}

{% block content %}


<section class="write-section">
    <h1 class="write-page-title">EPILOGUE</h1>

    <form class="epilogue-form" method="post">
        {% csrf_token %}

        <div class="textfield">
            <textarea id="epilogue-keyword" name="keyword" class="epilogue-keyword"
                placeholder="고민 답변자에게 줄 한마디를 작성해주세요!"></textarea>
        </div>

        <div class="textfield">
            <p class="question-title">
                고민 답변에 대한 후일담 작성
            </p>
            <input id="epilogue-title" name="title" type="text" class="epilogue-title" placeholder="후일담 주제">
        </div>

        <div class="textfield">
            <textarea id="epilogue-content" name="content" class="epilogue-content" placeholder="후일담 내용"></textarea>
        </div>


        <div class="open-field">
            <p class="question-title">
                명예의 전당 공개 여부
            </p>

            <div class="toggle-wrap">
                <label class="toggle">
                    <input type="checkbox" />
                    <span class="slider"></span>
                </label>
            </div>
        </div>


        <a href="{% url 'worry_list' %}" class="submit-worry">
            후일담 제출하기
        </a>
    </form>
</section>


{% endblock %}