{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WORRYVERY</title>
    <link rel="stylesheet" href="{% static 'css/splash.css' %}">
</head>

<body>
    <main class="splash-container">
        <div class="logo">
            <img class="worryang" src="{% static 'images/worrang.png' %}" alt="워리양">
            <div class="title">WORRY<span>VERY</span></div>
        </div>
    </main>
</body>
</html>
