<!-- 고민 리스트 화면 -->
<!-- [고민 리스트 조회]
     worries 이터레이터에서 꺼내서 쓰면 됨.
     해당 화면으로 이동하는 과정에서 호출되므로 객체 꺼내서 사용하면 됨.
     ex. for worry in worries
-->

<!-- [고민 북마크 등록/취소]
     버튼 클릭해서 북마크 등록/취소
     호출: worries:post_bookmark
     전달 값: worry.id
-->

<!-- [응원 도장 등록/취소] 
     응원도장 클릭해서 응원 도장 누르기/취소
     호출: worries:post_cheerup
     전달 값: worry.id
-->

<!-- [고민 상세 화면 이동]
     고민 클릭 시 상세 화면 이동
     호출: worries:get_worry_detail
     전달 값: worry.id
-->

<!-- [고민 작성 이동]
     고민 작성하기 버튼 클릭하여 고민 작성 화면으로 이동
     호출: worries:post_worry
     전달 값: X
-->